/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2015, 12:11:27
    Author     : Claudio
*/

.mainPane {
    -fx-background-color: #ffaec9;
}

.loginPane {
    -fx-background-color: #666666;
    -fx-border-radius: 50px;
}

.btLogin:hover {
    -fx-background-color: #808080;
    -fx-cursor: hand;
}

.btLogin {
    -fx-text-fill: #f96ab9; //#666666
}

.lbUser {
    -fx-text-fill: #f96ab9;
}

.lbPass {
    -fx-text-fill: #f96ab9;
}

.lbRosas {
    -fx-text-fill: #ffaec9;
}